div.resume {
	margin: auto;
	width: auto;
	max-width: 55%;
	padding: 3%;
	padding-top: 0;
	line-height: 1.1;
}
div.resume p {
	margin: 0;
	font-size: 18px;
}
div.resume div.schools, div.classes, div.skills, div.experiences {
	margin: auto;
	width: 100%;
}

div.resume p.school {
	font-weight: bold
}

div.resume table.classes {
	text-align: center;
	width: 100%;
}

div.resume tr.classes {
	text-align: left;
}

div.resume td {
	padding-left: auto;
	padding-right: auto;
	font-size: 18px;
}

div.resume ul {
	font-size: 18px;
	padding-left: 2%;
	list-style: circle
}


