@charset "UTF-8";

body {
    background-image: url("../assets/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#background {
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
}

#background img {
    filter: brightness(50%);
    min-height: 100%;
    min-width: 100%;
}

.bg-tertiary {
    background-color: #ffffff !important;
}

a.bg-tertiary:hover, a.bg-tertiary:focus,
button.bg-tertiary:hover,
button.bg-tertiary:focus {
    background-color: #abc7c1 !important;
}

.portfolio-modal-list li {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

.portfolio-modal iframe {
    height: 800px;
    width: 100%;
    border: none;
}

.portfolio-modal-list li {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

.portfolio-modal iframe {
    height: 800px;
    width: 100%;
    border: none;
}

#masthead {
    padding-top: calc(4.5rem + 104px);
    padding-bottom: 4.5rem;
}

#about .container .row {
    max-width: 50rem;
}

#masthead .container,
#about .container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2.5rem;
    width: fit-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.page-section {
    padding: 3rem 0;
}

#resume-button {
    border-radius: 1.5rem;
    padding: 1rem 1rem;
}
