strong {
	font-weight: bold
}

div.resume {
	margin: auto;
	width: auto;
	max-width: 800px;
	padding: 3%;
	background-color: LightGoldenRodYellow ;
}

body {
	margin: 2.5%;
	width: 90%
}

h1 {
	font-size: 2em;
	font-weight: bold
}

h3 {
	font-size: 1.25em;
	font-weight: bold
}

div.schools, div.classes, div.skills, div.experience {
	margin: auto;
	width: 90%;
}

p.school {
	font-weight: bold
}

/*div.classes {
	margin: auto;
	width: 90%
}*/

table.classes {
	border-spacing: 1;
	border-style: dashed;
	text-align: center;
	/*margin: auto*/
}

tr.classes {
	border-style: dashed;
	text-align: left;
}

ul {
	padding-left: 2%;
	list-style: circle
}
